<section>
    <header class="sm-header flex-between">
        <div class="flex-middle divide space-20">
            <h4>{{ title }}</h4>
            <ul class="sm-nav flex-middle space-40">
                <li class="flex-middle-center">
                    <img [src]="regionIcon" [alt]="title" class="regionIcon" width="35px">
                </li>
            </ul>
        </div>
        <ul class="flex-middle space-20">
            <li>
                <app-card-search></app-card-search>
            </li>
            <li>
                <app-card-sort></app-card-sort>
            </li>
            <li>
                <app-card-filter [filterInputs]="filterInputs"></app-card-filter>
            </li>
        </ul>
    </header>
    <div class="cards-list flex-middle flex-wrap">
        <div class="fifth" *ngFor="let card of cards | async; let i=index">
            <div class="card">
                <div class="title">
                    <h2>{{ card.name }}</h2>
                </div>
                <div class="cardImage">
                    <img [attr.src]='["assets/datadragon-set1-en_us/en_us/img/cards/" + card.cardCode + ".png"]' loading="lazy" [alt]="card.name">
                </div>
                <div class="actions">
                    <div class="flex-middle-around">
                        <div class="action">
                            <app-svg icon="plus" title="add to deck" viewBox="0 0 512 512"></app-svg>
                        </div>
                        <div class="action">
                            <app-svg icon="eye" title="view details" viewBox="0 0 32 32"></app-svg>
                        </div>
                        <div class="action">
                            <app-svg icon="imagebg" title="view art" viewBox="0 0 50 50"></app-svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
