<header class="icobalt ilayout ui-tabs" id="HeaderZone"><app-header></app-header></header>
<aside class="icobalt ilayout" id="SideZone"><app-navigation></app-navigation></aside>
<main>
	<header class="icobalt ilayout" id="SplashZone"><app-splash></app-splash></header>
	<header class="icobalt ilayout flex-middle-between" id="PageHeaderZone">
		<div class="icobalt ilayout" id="PageHeaderZone_Left"></div>
		<div class="icobalt ilayout flex-bottom space-20" id="PageHeaderZone_Right"></div>
	</header>
	<div class="icobalt ilayout" id="MainZone"><app-view-box></app-view-box></div>
</main>